<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @food, local: true) do |f| %>
        <div class="form-group">
          都道府県: <%= f.text_area :title, class: 'form-control', rows: 1 %>
        </div>
        <div class="form-group">
          投稿: <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'foods/foods', foods: @foods %>
    </div>
  </div>
<% else %>
  <div class="center top-image">
    <div class="text-center top-text">
      <h1>JAPAN Community</h1>
      <p>~ 日本全国繋がる掲示板 ~</p>
      <%= link_to 'Sign up', signup_path, class: 'btn btn-lg btn-primary top-btn' %>
      <%= link_to 'Login', login_path, class: 'btn btn-lg btn-primary top-btn' %>
    </div>
  </div>
<% end %>